@model IEnumerable<EccommerceV3.Model.EF.OrdersDetail>

@{
    ViewData["Title"] = "Index";
}

@{
    decimal? total = 0;
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Order)*@
            </th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Order.OrderId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderDetailsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderDetailsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderDetailsId">Delete</a>
            </td>
        </tr>
        total = total + item.Subtotal;
}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total:</th>
            <th>$@total</th>
            <th></th>
        </tr>
    </tbody>
</table>

<p>
    <a asp-action="Create" asp-controller="Orders">Checkout</a>
</p>
